
body{
	font-family: "sans-serif", "Arial";
	color: #ffffff;
	text-align: right;
}

 h1 {
	font-size: 2em;
	text-align: left;
	color:#ffffff;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 2px solid #ffffff;
	text-align: left;
	background-color:#9FB6CD; 
	border-bottom: 2px solid #ddd;
}

th {
	border: 2px solid #ffffff;
	text-align: left;
	color: #ffffff;
	background-color: #003366;
	border-bottom: 2px solid #ddd;
}
